/* <link rel="stylesheet" href="https://camisrutt.github.io/Roomifytest/Root/assets/css/style.css"> */
/* alter the links ovb for whatever repo your on*/
/* Commonly used styling*/



/* Background Image for pages*/
/* homepage - login page - signup page */
body::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('./images/background.jpg');
    background-position: center;
    opacity: 0.25; /* Adjust the opacity to make the image faded */
    z-index: -1;
}