.logo {
    position: absolute;
    left: 20px; /* Adjust this based on your padding/margin */
    display: flex;
    align-items: center;
}

.logo img {
    height: 50px; /* Adjust the size of the logo */
    width: auto;
    margin-right: 10px; /* Adds space between logo and text */
    image-rendering: auto;
    background-image: url('/assets/images/logo.png');
    background-size: contain;
}

.logo h1 {
    font-size: 24px;
    margin: 0;
    color: #333; /* Adjust the text color */
}

.logo a {
    text-decoration: none;
    display: flex;
    align-items: center;
}