/* Navigation Bar */
.top-nav {
    background-color: #2b2b2b;
    color: white;
    padding: 15px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-shrink: 0;
}
/*Glows on hover*/
.top-nav .logonav a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-weight: 500;
    transition: color 0.3s ease;
}

.top-nav .logonav a:hover {
    color: #a8d5ba;
}

.top-nav .logonav h1 {
    margin: 0;
    font-size: 2rem;
}

.top-nav .nav-items {
    display: flex;
    align-items: center;
}

.top-nav .nav-items a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-weight: 500;
    transition: color 0.3s ease;
}

.top-nav .nav-items a:hover {
    background-color: #a8d5ba;
}

.top-nav .nav-items .username {
    margin-left: 20px;
    color: #a8d5ba;
    font-weight: bold;
}

.top-nav .nav-items .username a:hover {
    background-color: rgb(233, 241, 236)d5ba;
}

.top-nav .nav-items .logout {
    margin-left: 20px;
    background-color: #a8d5ba;
    color: #2b2b2b;
    padding: 8px 15px;
    border-radius: 20px;
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.top-nav .nav-items .logout:hover {
    background-color: #8bc6a9;
}