/* <link rel="stylesheet" href="https://camisrutt.github.io/Roomifytest/Root/assets/css/style-login.css"> */
/* alter the links ovb for whatever repo your on*/
body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f7f4;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Full screen height to center vertically */
}
.container {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 100%;
    max-width: 400px;
    text-align: center;
    margin-top: 100px;
    margin: 20px;
}
h1 {
    margin-bottom: 20px;
    font-size: 24px;
}
input[type="text"], input[type="password"] {
    width: 95%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}
button {
    background-color: #2b2b2b;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 20px;
    transition: background-color 0.3s ease, transform 0.3s ease;
}
button:hover {
    background-color: #555555;
    transform: translateY(-5px);
}
.google-signin-button {
    display: flex;
    justify-content: center;
    margin-top: 0px;
    margin-bottom: 10px;
    transition: background-color 0.3s ease, transform 0.3s ease;
}
.google-signin-button:hover {
    background-color: #ffffffc7;
    transform: translateY(-3px);
}

.link {
    display: block;
    margin-top: 20px;
}
.back-to-homepage a, .signup-link a {
    color: #a8d5ba;
    text-decoration: none;
}
.back-to-homepage a:hover, .signup-link a:hover {
    text-decoration: underline;
}
